*,
a,
a:hover {
	color:$black;
	font-family:$sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration:underline;

	&.no-underline {
		text-decoration:none;
	}
}

body {
	background-color:$white;

	&.no-scroll {
		overflow: hidden;
	}
}

.theme-button {
	border:0;
	background-color: $black;
	color: $white;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	line-height: 40px;
	display: inline-block;
	width: auto;
	height: auto;
	margin:0;
	padding:0 20px;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	overflow-x: hidden;

	&:link,
	&:visited {
	   background: $black;
	   color: $white;
	}

	&:active,
	&:focus,
	&:hover {
	   background: $grey;
	   color: $black;
	}

	&.full-width {
		display:block;
	}
}

.theme-headline {
	color:$black;
	@extend %headline;

	&.h1 {
		@extend %h1;
	}

	&.h2 {
		@extend %h2;
	}

	&.h3 {
		@extend %h3;
	}

	&.h4 {
		@extend %h4;
	}

	&.h5 {
		@extend %h5;
	}
}

.theme-rte {

	* {
		color:$white;
	}

	p {
		@extend %paragraph;
	}

	ul {
		list-style:disc;

		li {
			font-size:16px;
			font-weight:400;
			line-height:24px;
		}
	}
}

.theme-text {
	@extend %paragraph;
	@extend %align-center;
}